Repository matthewtpapa/vision, changes with the owners that CODEOWNERS names for each.
All owners: @matthewtpapa, @yourorg/pm-team, @yourorg/eng-leads, @yourorg/qa

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2025 The Vision Authors
# Default owner/reviewer for everything in this repo
* @matthewtpapa
/docs/vision_v1_single_source_of_truth.md   @yourorg/pm-team @yourorg/eng-leads
/docs/specs/**                               @yourorg/pm-team @yourorg/eng-leads
/docs/Vision_v1_Investor_SoT.html          @yourorg/pm-team @yourorg/eng-leads
/roadmap.yaml                               @yourorg/pm-team @yourorg/eng-leads
/roadmap.lock.json                          @yourorg/pm-team @yourorg/eng-leads
/seeds.env                                  @yourorg/eng-leads
/schemas/**                                 @yourorg/eng-leads
/.github/workflows/**                        @yourorg/eng-leads @yourorg/qa

Add roadmap lock tooling and SoT PDF checks
  .github/workflows/verify.yml
  Makefile
  artifacts/manifest.json.sig
  artifacts/vision_v1_SoT.pdf
  docs/specs/stages/S03.md
  docs/specs/stages/S04.md
  docs/specs/stages/S05.md
  docs/specs/stages/S06.md
  docs/specs/stages/S07.md
  docs/specs/stages/S08.md
  docs/specs/stages/S09.md
  docs/specs/stages/S10.md
  docs/specs/stages/S11.md
  docs/specs/stages/S12.md
  docs/specs/stages/S13.md
  docs/specs/stages/S14.md
  docs/specs/stages/S15.md
  docs/specs/stages/S16.md
  docs/specs/stages/S17.md
  gate_summary.txt
  roadmap.lock.json
  roadmap.yaml
  scripts/check_roadmap.py
  scripts/gen_roadmap_lock.py
  scripts/sign_json.py
  scripts/write_metrics_hash.py
Owners: @yourorg/eng-leads, @yourorg/qa, @matthewtpapa, @yourorg/pm-team

Align S1 PDF and manifest signing gates
  .github/workflows/verify.yml
  roadmap.lock.json
Owners: @yourorg/eng-leads, @yourorg/qa, @yourorg/pm-team

Align SoT signing with roadmap checks
  .github/workflows/verify.yml
  docs/specs/stages/S01.md
  roadmap.lock.json
  roadmap.yaml
  scripts/check_roadmap.py
  scripts/gen_roadmap_lock.py
Owners: @yourorg/eng-leads, @yourorg/qa, @yourorg/pm-team, @matthewtpapa

Update verify workflow triggers and guards
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Consolidate docs drift into verify workflow
  .github/workflows/docs_check.yml
  .github/workflows/verify.yml
  roadmap.lock.json
Owners: @yourorg/eng-leads, @yourorg/qa, @yourorg/pm-team

Fix heredoc termination indentation in verify workflow
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Fix signing step guards in verify workflow
  .github/workflows/verify.yml
  roadmap.lock.json
Owners: @yourorg/eng-leads, @yourorg/qa, @yourorg/pm-team

Fix roadmap tooling lint issues
  scripts/check_roadmap.py
  scripts/gen_roadmap_lock.py
Owners: @matthewtpapa

Format roadmap checker
  scripts/check_roadmap.py
Owners: @matthewtpapa

Make signing step skip gracefully without secret
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Make docs drift optional on PRs
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Run docs drift job on every verify invocation
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Adjust verify workflow permissions and PR triggers
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Add fork-safe docs gate workflow
  .github/workflows/docs_gate.yml
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Guard signing step without secrets context
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Guard signing step on missing key
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Fix signing step guards
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Make verify signing step fork-safe
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Tighten workflow permissions
  .github/workflows/docs_gate.yml
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Regenerate roadmap lock
  roadmap.lock.json
Owners: @yourorg/pm-team, @yourorg/eng-leads

Record SoT artifact hashes and harden roadmap tooling
  .github/workflows/docs_gate.yml
  .github/workflows/verify.yml
  roadmap.lock.json
  scripts/check_roadmap.py
  scripts/gen_roadmap_lock.py
  scripts/write_metrics_hash.py
Owners: @yourorg/eng-leads, @yourorg/qa, @yourorg/pm-team, @matthewtpapa

Automate SoT sync and summary generation
  .github/workflows/docs_gate.yml
  .github/workflows/verify.yml
  roadmap.lock.json
  scripts/sync_sot_acceptance.py
  scripts/write_sot_summary.py
Owners: @yourorg/eng-leads, @yourorg/qa, @yourorg/pm-team, @matthewtpapa

Format SoT summary script and pad SoT stage labels
  docs/Vision_v1_Investor_SoT.html
  scripts/write_sot_summary.py
Owners: @yourorg/pm-team, @yourorg/eng-leads, @matthewtpapa

Fix SoT acceptance sync escaping
  docs/Vision_v1_Investor_SoT.html
  scripts/sync_sot_acceptance.py
Owners: @yourorg/pm-team, @yourorg/eng-leads, @matthewtpapa

Fix SoT summary UTC usage
  artifacts/sot_summary.json
  scripts/write_sot_summary.py
Owners: @matthewtpapa

Ensure SoT summary uses datetime.UTC fallback
  scripts/write_sot_summary.py
Owners: @matthewtpapa

Fix UTC fallback in SoT summary
  artifacts/sot_summary.json
  scripts/write_sot_summary.py
Owners: @matthewtpapa

Use datetime.UTC fallback without timezone import
  scripts/write_sot_summary.py
Owners: @matthewtpapa

Restore timezone fallback for SoT summary script
  artifacts/sot_summary.json
  scripts/write_sot_summary.py
Owners: @matthewtpapa

Handle UTC fallback without triggering UP017
  scripts/write_sot_summary.py
Owners: @matthewtpapa

Add SoT anchor guard and streamline verify sync
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Restore sign_json UTC fallback
  scripts/sign_json.py
Owners: @matthewtpapa

Harden roadmap lock generator exit behaviour
  scripts/gen_roadmap_lock.py
Owners: @matthewtpapa

Fix roadmap lock generator exit path
  roadmap.lock.json
  scripts/gen_roadmap_lock.py
Owners: @yourorg/pm-team, @yourorg/eng-leads, @matthewtpapa

Format roadmap lock generator
  scripts/gen_roadmap_lock.py
Owners: @matthewtpapa

Enforce SoT PDF determinism and handle blocked signing
  .github/workflows/verify.yml
  roadmap.lock.json
  scripts/check_roadmap.py
Owners: @yourorg/eng-leads, @yourorg/qa, @yourorg/pm-team, @matthewtpapa

Canonicalize SoT PDF metadata before determinism check
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Canonicalize SoT PDF via pypdf
  .github/workflows/verify.yml
  requirements-dev.txt
  roadmap.lock.json
  scripts/canonicalize_pdf.py
Owners: @yourorg/eng-leads, @yourorg/qa, @matthewtpapa, @yourorg/pm-team

Fix canonical PDF trailer IDs
  scripts/canonicalize_pdf.py
Owners: @matthewtpapa

Harden PDF canonicalization for wkhtmltopdf output
  scripts/canonicalize_pdf.py
Owners: @matthewtpapa
