Repository matthewtpapa/vision, changes with the owners that CODEOWNERS names for each.
All owners: @matthewtpapa, @yourorg/pm-team, @yourorg/eng-leads, @yourorg/qa

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2025 The Vision Authors
# Default owner/reviewer for everything in this repo
* @matthewtpapa
/docs/vision_v1_single_source_of_truth.md   @yourorg/pm-team @yourorg/eng-leads
/docs/specs/**                               @yourorg/pm-team @yourorg/eng-leads
/docs/Vision_v1_Investor_SoT.html          @yourorg/pm-team @yourorg/eng-leads
/roadmap.yaml                               @yourorg/pm-team @yourorg/eng-leads
/roadmap.lock.json                          @yourorg/pm-team @yourorg/eng-leads
/seeds.env                                  @yourorg/eng-leads
/schemas/**                                 @yourorg/eng-leads
/.github/workflows/**                        @yourorg/eng-leads @yourorg/qa

Normalize additional PDF metadata for deterministic SoT
  scripts/canonicalize_pdf.py
Owners: @matthewtpapa

Harden roadmap checks and lock drift detection
  .github/workflows/verify.yml
  roadmap.lock.json
  scripts/check_roadmap.py
Owners: @yourorg/eng-leads, @yourorg/qa, @yourorg/pm-team, @matthewtpapa

Stabilize verify workflow environment
  .github/workflows/verify.yml
Owners: @yourorg/eng-leads, @yourorg/qa

Regenerate roadmap lock
  roadmap.lock.json
Owners: @yourorg/pm-team, @yourorg/eng-leads

Use deterministic SoT PDF renderer
  .github/workflows/verify.yml
  requirements-dev.txt
  scripts/make_sot_pdf.py
Owners: @yourorg/eng-leads, @yourorg/qa, @matthewtpapa

chore: refresh roadmap.lock and ruff-format after deterministic PDF renderer
  roadmap.lock.json
  scripts/make_sot_pdf.py
Owners: @yourorg/pm-team, @yourorg/eng-leads, @matthewtpapa

chore: refresh roadmap.lock (fileset_sha256 bump)
  roadmap.lock.json
Owners: @yourorg/pm-team, @yourorg/eng-leads

fix: drop SoT PDF metadata safely
  scripts/make_sot_pdf.py
Owners: @matthewtpapa

chore: refresh roadmap.lock fileset hash
  roadmap.lock.json
Owners: @yourorg/pm-team, @yourorg/eng-leads

fix: canonicalize SoT PDF rendering
  scripts/make_sot_pdf.py
Owners: @matthewtpapa

roadmap: update lock after SoT PDF determinism changes
  roadmap.lock.json
Owners: @yourorg/pm-team, @yourorg/eng-leads

fix: use canonicalizer for SoT PDF determinism
  roadmap.lock.json
  scripts/make_sot_pdf.py
Owners: @yourorg/pm-team, @yourorg/eng-leads, @matthewtpapa

Add roadmap lock tooling and SoT PDF checks (#130)
  .github/workflows/docs_check.yml
  .github/workflows/verify.yml
  Makefile
  artifacts/manifest.json.sig
  artifacts/sot_summary.json
  artifacts/vision_v1_SoT.pdf
  docs/Vision_v1_Investor_SoT.html
  docs/specs/stages/S01.md
  docs/specs/stages/S03.md
  docs/specs/stages/S04.md
  docs/specs/stages/S05.md
  docs/specs/stages/S06.md
  docs/specs/stages/S07.md
  docs/specs/stages/S08.md
  docs/specs/stages/S09.md
  docs/specs/stages/S10.md
  docs/specs/stages/S11.md
  docs/specs/stages/S12.md
  docs/specs/stages/S13.md
  docs/specs/stages/S14.md
  docs/specs/stages/S15.md
  docs/specs/stages/S16.md
  docs/specs/stages/S17.md
  gate_summary.txt
  requirements-dev.txt
  roadmap.lock.json
  roadmap.yaml
  scripts/canonicalize_pdf.py
  scripts/check_roadmap.py
  scripts/gen_roadmap_lock.py
  scripts/make_sot_pdf.py
  scripts/sign_json.py
  scripts/sync_sot_acceptance.py
  scripts/write_metrics_hash.py
  scripts/write_sot_summary.py
Owners: @yourorg/eng-leads, @yourorg/qa, @matthewtpapa, @yourorg/pm-team

Make repo installable and finalize interfaces
  .github/workflows/verify.yml
  .gitignore
  artifacts/.gitkeep
  artifacts/ledger_tip.txt
  artifacts/manifest.json
  artifacts/manifest.json.sig
  artifacts/metrics_hash.txt
  artifacts/metrics_hash_payload.json
  artifacts/metrics_run1.json
  artifacts/metrics_run2.json
  artifacts/metrics_summary.json
  artifacts/promotion_report.json
  artifacts/promotion_report.jsonl
  artifacts/purity_report.json
  artifacts/pytest/pytest_s2_junit.xml
  artifacts/pytest/pytest_s2_summary.txt
  artifacts/seeds_applied.json
  artifacts/sot_summary.json
  artifacts/sot_summary.json.sig
  artifacts/stage_ledger.jsonl
  artifacts/vision_v1_SoT.pdf
  build_backend.py
  pyproject.toml
  scripts/check_metrics_schema.py
  src/latency_vision/embedder_adapter.py
  src/latency_vision/kb/promotion.py
  src/latency_vision/label_bank/protocol.py
  src/latency_vision/ledger/evidence_ledger.py
  src/latency_vision/oracle/candidate_oracle.py
  src/latency_vision/pipeline_detect_track_embed.py
  src/latency_vision/telemetry/repro.py
  src/latency_vision/verify/verify_worker.py
  tests/purity/test_offenders_format.py
Owners: @yourorg/eng-leads, @yourorg/qa, @matthewtpapa

Include tomli fallback in build requirements
  pyproject.toml
Owners: @matthewtpapa

Add tripwire and relocate bench fixtures
  .github/workflows/verify.yml
  .gitignore
  Makefile
  artifacts/.gitkeep
  bench/e2e_samples.jsonl
  bench/oracle_e2e.json
  bench/oracle_stats.json
  data/bench/bank.jsonl
  data/bench/manifest.json
  data/bench/queries.jsonl
  gate_summary.txt
  logs/evidence_ledger.jsonl
  scripts/check_metrics_schema.py
  scripts/preflight_tripwire.py
  scripts/validate_manifest.py
Owners: @yourorg/eng-leads, @yourorg/qa, @matthewtpapa

Harden verify workflow artifacts and docs
  .github/workflows/verify.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  artifacts/.gitkeep
Owners: @yourorg/eng-leads, @yourorg/qa, @matthewtpapa

Relax roadmap artifacts and fix lint
  Makefile
  build_backend.py
  roadmap.lock.json
  roadmap.yaml
  scripts/check_metrics_schema.py
  scripts/preflight_tripwire.py
Owners: @matthewtpapa, @yourorg/pm-team, @yourorg/eng-leads

Regenerate roadmap lock and format helpers
  build_backend.py
  roadmap.lock.json
  scripts/check_metrics_schema.py
  scripts/preflight_tripwire.py
  src/latency_vision/oracle/candidate_oracle.py
  tests/purity/test_offenders_format.py
Owners: @matthewtpapa, @yourorg/pm-team, @yourorg/eng-leads

Ignore artifacts gitkeep in tripwire and refresh lock
  roadmap.lock.json
  scripts/preflight_tripwire.py
Owners: @yourorg/pm-team, @yourorg/eng-leads, @matthewtpapa

Fix metrics hash determinism check shell
  Makefile
Owners: @matthewtpapa

Fix metrics hash determinism command quoting
  Makefile
Owners: @matthewtpapa
